

.st-drop-edit input[type=text] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.st-drop-edit label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.st-drop-edit input[type=checkbox] {
    display: none;
}

.st-drop-edit-items {
    background-color: white;
}

.st-drop-edit input[type=checkbox] ~ .st-drop-edit-items {
    transform: scaleY(0);
}

.st-drop-edit input[type=checkbox]:checked ~ .st-drop-edit-items {
    transform: scaleY(1);
}

.st-drop-edit-item {
    color: var(--bs-gray-900);
    cursor: pointer;
}

.st-drop-edit-item:hover {
    background-color: var(--bs-gray-400);
}


.st-error-message {
    font-weight: bold;
    font-size: 120%;
    background-color: orange;
    color: black;
    padding-left: 1em;
    height: 2em;
    align-content: center;
    border-radius: 5px;}
}