

.st-drop-edit input[type=text] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.st-drop-edit label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.st-drop-edit input[type=checkbox] {
    display: none;
}

.st-drop-edit-items {
    background-color: white;
}

.st-drop-edit input[type=checkbox] ~ .st-drop-edit-items {
    transform: scaleY(0);
}

.st-drop-edit input[type=checkbox]:checked ~ .st-drop-edit-items {
    transform: scaleY(1);
}

.st-drop-edit-item {
    color: var(--bs-gray-900);
    cursor: pointer;
}

.st-drop-edit-item:hover {
    background-color: var(--bs-gray-400);
}


.st-error-message {
    font-weight: bold;
    font-size: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: orange;
    color: black;
    padding-left: 1em;
    height: 2em;
    align-content: center;
    border-radius: 5px;}
}

.st-calendar-header {
    font-size: 120%;
    text-align: center;
    color: black;
    background: #999999;
    height: 2.5em;
}

.st-calendar thead th {
    text-align: center;
    color: black;
    background: #ABABAB;
    height: 2.5em;
}

.st-calendar tbody th {
    font-size: 80%;
    text-align: center;
    height: 2.5em;
    width: 2.5em;
    border: solid 1px lightgray;
}

.st-calendar td {
    font-size: 80%;
    text-align: center;
    height: 2.5em;
    width: 2.5em;
    border: solid 1px lightgray;
    cursor: default;
}

.st-calendar-holiday {
    cursor: pointer;
    border-radius: 2px;
    background: cornflowerblue;
    color: black;
    font-weight: bold;
}
.st-calendar-today {
    border: solid 2px red;
    border-radius: 3px;
}

.st-calendar-selected {
    background: lightblue;
}
