
.st-drop-edit input[type=text] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.st-drop-edit label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.st-drop-edit:focus-within {
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--bs-focus-ring-color);
    border-radius: var(--bs-border-radius);
}
.st-drop-edit .form-control:focus {
    box-shadow: none;
}

.st-drop-edit input[type=checkbox] {
    display: none;
}

.st-drop-edit-items {
    background-color: white;
}

.st-drop-edit input[type=checkbox] ~ .st-drop-edit-items {
    transform: scaleY(0);
}

.st-drop-edit input[type=checkbox]:checked ~ .st-drop-edit-items {
    transform: scaleY(1);
}

.st-drop-edit-item {
    color: var(--bs-gray-900);
    cursor: pointer;
}

.st-drop-edit-item:hover {
    background-color: var(--bs-gray-400);
}


.st-error-message {
    font-weight: bold;
    font-size: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: orange;
    color: black;
    padding-left: 1em;
    height: 2em;
    align-content: center;
    border-radius: 5px;
}

.st-calendar {
    cursor: default;
}

.st-calendar-head {
    text-align: center;
    color: black;
    background: #ABABAB;
    font-size: 80%;
    height: 2.5em;
    width: 2.5em;
    border: solid 1px lightgray;
}

.st-calendar-week {
    text-align: center;
    color: black;
    background: #CCCCCC;
    height: 2.5em;
}

.st-calendar-holiday {
    cursor: pointer;
    border-radius: 2px;
    background: cornflowerblue;
    color: black;
    font-weight: bold;
}

.st-calendar-day {
    font-size: 80%;
    text-align: center;
    height: 2.5em;
    width: 2.5em;
    border: solid 1px lightgray;
    cursor: pointer;
}
.st-calendar-day:hover {
    background: lightblue;
}
.st-calendar-day span {
    padding: 3px;
}

.st-calendar-other-month {
    opacity: 0.3;
    cursor: default;
}

.st-calendar-today span {
    border: solid 4px red;
    border-radius: 9px;
}

.st-calendar-selected {
    background: lightblue;
}


.st-splitter-separator {
    cursor: col-resize;
    background-color: lightblue;
    width: 10px;

    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
