<!--CustomElement:model-->
<!--ViewModel:DatePicker-->
<div class="dropdown show" style="display: inline-block;">

    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button"
            style="width: 100%; text-align: left;"
            data-bs-toggle="dropdown" aria-expanded="false">
        {{model.RangeText}}
    </button>

    <div class="dropdown-menu">

        <div class="st-calendar-header" style="width: 100%;">

        </div>

        <table class="st-calendar">
            <thead>
            <tr>
                <th class="st-calendar-head" style="cursor: pointer;"
                    @click.stop="PrevMonth()">
                    <i class="fa-solid fa-caret-left"></i>
                </th>
                <th class="st-calendar-head" :colspan="model.TotalColumns - 2" v-for="month in model.Months">
                    {{month.Name}} {{month.Year}}
                </th>
                <th class="st-calendar-head" style="cursor: pointer;"
                    @click.stop="NextMonth()">
                    <i class="fa-solid fa-caret-right"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <template v-for="month in model.Months">
                <tr>
                    <th>Mo</th>
                    <th>Di</th>
                    <th>Mi</th>
                    <th>Do</th>
                    <th>Fr</th>
                    <th>Sa</th>
                    <th>So</th>
                </tr>
                <tr v-for="week in month.Weeks">
                    <td v-for="day in week.Days" :class="day.Class">
                        <span v-if="day.OtherMonth">{{day.Number}}</span>
                        <span v-else
                              :class="day.Class"
                              @click="SelectDay(day.Date)"
                              :title="day.Title">&nbsp;{{day.Number}}&nbsp;</span>
                    </td>
                    <!--                              @click="$emit('select', day.Date)"-->
                </tr>
            </template>
            </tbody>
        </table>

    </div>


</div>
