.vs
.idea
.fake
bin
obj
nuget
/packages
/builds
/tests
/artifacts
/xunit.html
/IctBaden.Stonehenge4/app/Thumbs.db

*.user
*.key
*.crt


!.idea/.idea.Stonehenge4/.idea/inspectionProfiles/Project_Default.xml

