<!--ViewModel:Charts2Vm-->
<!--Title:Charts-2:30-->
<div style="margin: 2em;">

    <h3>Animated Graph</h3>

    <p>
        <b>C3 Chart</b> see <a href="https://c3js.org/gettingstarted.html" target="_blank">https://c3js.org/gettingstarted.html</a>
        <br/>
    </p>

    <p>
        <label>
            <input class="form-check-input" type="checkbox" v-model="FullTimeRange" @change="ChangeFullTimeRange">
            Show full time range
        </label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label>
            Sort tooltips by
            <select v-model="SortSeriesTooltips" @change="ChangeSortSeriesTooltips">
                <option value="0">none</option>
                <option value="1">descending values</option>
                <option value="2">ascending values</option>
                <option value="3">ascending series name</option>
                <option value="4">descending series name</option>
            </select>
        </label>
    </p>
    
    <div style="display: flex; flex-direction: row; height: 50vh;">
        <div style="border: 1px solid gray; padding: 0.5em; width: 50%;">
            <st-chart :chartdata="LineChart"></st-chart>
        </div>
        <st-splitter ></st-splitter>
        <div style="border: 1px solid gray; padding: 0.5em; width: 50%;">
            <st-sankey :chartdata="SankeyChart"></st-sankey>
        </div>
    </div>

    <p>
        &nbsp;<br>
        {{Speed}}ms
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-sm btn-secondary" @click="ToggleSpeed()">Change Speed</button>
        &nbsp;<br>
        
    </p>

</div>
