<!--Title:Forms:20-->
<div class="row" style="margin: 2em;">

    <div class="col-md-12" style="padding: .5em; margin: .5em; border: 1px solid var(--fore-color);">
        <h4 style="float: left;">
            Form Controls
        </h4>
        <p style="float: right;">
            Uhrzeit: <span>{{TimeStamp}}</span>
        </p>
    </div>

    <div class="row">

        <div class="col-md-12" style="padding: .5em; margin: .5em; border: 1px solid var(--fore-color);">

            <h4>
                Select Time Range and Refresh Rate
            </h4>

            <div style="float: right; padding-right: 5em;">
                <div class="btn-group btn-sm" role="group">

                    <button type="button" class="btn btn-sm btn-secondary" @click="Refresh()"
                            title="Jetzt Aktualisieren">
                        &nbsp;<i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;
                    </button>

                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false"
                            title="Automatische Aktualisierung">
                        {{RefreshText}}
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item" @click="SetRefresh(0)">Aus</li>
                        <li class="dropdown-item" @click="SetRefresh(1)">1s</li>
                        <li class="dropdown-item" @click="SetRefresh(10)">10s</li>
                        <li class="dropdown-item" @click="SetRefresh(30)">30s</li>
                        <li class="dropdown-item" @click="SetRefresh(60)">1min</li>
                        <li class="dropdown-item" @click="SetRefresh(300)">5min</li>
                    </ul>

                </div>
            </div>
            <div>

                <div class="dropdown show" style="display: inline-block;">

                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button"
                            style="width: 8em; text-align: left;"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        {{RangeText}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" @click="SetRange(1)">Tag</a>
                        <a class="dropdown-item" @click="SetRange(7)">Woche</a>
                        <a class="dropdown-item" @click="SetRange(30)">Monat</a>
                        <a class="dropdown-item" @click="SetRange(365)">Jahr</a>
                    </div>

                </div>

                <div style="display: inline-block; width: 12em;">

                    <input v-if="RangeDays == 1" type="date" style="text-align: left;" @change="UpdateRange()"
                           class="form-control btn btn-sm btn-secondary" v-model="RangeValue">

                    <input v-if="RangeDays == 7" type="week" style="text-align: left;" @change="UpdateRange()"
                           class="form-control btn btn-sm btn-secondary" v-model="RangeValue">

                    <input v-if="RangeDays == 30" type="month" style="text-align: left;" @change="UpdateRange()"
                           class="form-control btn btn-sm btn-secondary" v-model="RangeValue">

                    <select v-if="RangeDays == 365" @change="UpdateRange()" style="text-align: left;"
                            class="form-select btn btn-sm btn-secondary" v-model="RangeValue">
                        <option v-for="y in RangeYears" :value="y">{{y}}</option>
                    </select>
                </div>

                <div style="display: inline-block; margin-left: 2em;">
                    {{RangeStart}} .. {{RangeEnd}}
                </div>

            </div>

        </div>
    </div>

    <div class="col-md-4" style="padding: .5em; margin: .5em; border: 1px solid var(--fore-color);">

        <h4>
            Simple Input
        </h4>

        <p>
            <input v-model="Test" v-select class="form-control"/>
        </p>
        <p>
            <button class="btn btn-sm btn-secondary" @click="Save(1,2)">Prefix with "1", append "2"</button>
        </p>
        <p>
            <button class="btn btn-sm btn-secondary" @click="CopyTest()">Copy To Clipboard</button>
        </p>

    </div>
    
    
    
    
    
    
    
    
</div>
