<!--Title:Syntax:70-->
<!--ViewModel:SyntaxVm-->
<div style="margin: 2em;">

    <h3>C# Script Syntax Highlighting</h3>

    <div style="border: 1px solid black; height: 50vh;">
        <st-syntax-highlight v-if="ScEdit && ScEdit.ComponentId"
                             style="padding: 1em;"
                             :model="ScEdit">
        </st-syntax-highlight>
    </div>

    <p>&nbsp;</p>
    <button class="btn btn-primary" @click="Compile()">Compile Script</button>
    &nbsp;&nbsp;
    <button class="btn btn-primary" @click="Evaluate()">Evaluate Script Expression</button>
    <p>&nbsp;</p>

    <div v-if="Errors.length > 0">
        <ul>
            <li v-for="error in Errors">{{ error }}</li>
        </ul>
    </div>
    <div v-else="">
        <b>OK</b>
        &nbsp;&nbsp;
        {{Result}}
    </div>
    
</div>
