

.nav-link {
    color: white !important;
}

.router-link-active {
    font-weight: bold !important;
}

.chart-pos {
    fill: red;
}
.chart-pos line {
    stroke: red;
}
.chart-neg {
    fill: blue;
}
.chart-neg line {
    stroke: blue;
}